*{
    margin: 0%;
    padding: 0%;
}
.button{
    height: 50%;
    width: 25%;
    align-items: center;
    border-style: solid;
    border-radius: 5px;

}
#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}
#white{
    background-color: white;
}
.convas{
    
    display: flex;
    text-align: center;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}